# Журналы
журналы
* .лог
npm-debug.log *
пряжа-debug.log *
пряжа-error.log *
lerna-debug.log *

# Диагностические отчеты (https://nodejs.org/api/report.html)
отчет. [ 0-9 ] * . [ 0-9 ] * . [ 0-9 ] * . [ 0-9 ] * .json

# Данные времени выполнения
пиды
* .пид
* .сид
* .pid.блокировка

# Каталог инструментированных библиотек, сгенерированных jscoverage/JSCover
lib-cov

# Каталог покрытия, используемый такими инструментами, как istanbul
покрытие
* .lcov

# нью-йоркское тестовое покрытие
.nyc_output

# Промежуточное хранилище Grunt (https://gruntjs.com/creating-plugins#storing-task-files)
.хрюк

# Каталог зависимостей Bower (https://bower.io/)
Bower_components

# конфигурация node-waf
.lock-wscript

# Скомпилированные бинарные дополнения (https://nodejs.org/api/addons.html)
сборка / выпуск

# Каталоги зависимостей
узлы_модули /
jspm_packages /

# файлы объявлений TypeScript v1
наборы /

# Кэш TypeScript
* .tsbuildinfo

# Необязательный каталог кеша npm
.npm

# Необязательный кэш eslint
.eslintcache

# Кэш микропакетов
.rpt2_cache /
.rts2_cache_cjs /
.rts2_cache_es /
.rts2_cache_umd /

# Необязательная история REPL
.node_repl_history

# Вывод пакета npm
* .тгз

# Файл целостности пряжи
.пряжа-целостность

# файл переменных окружения dotenv
.env
.env.тест

# кеш пакета пакетов (https://parceljs.org/)
.кеш

# Результат сборки Next.js
.следующий

# Nuxt.js строит/генерирует вывод
.nuxt
расстояние

# файлы Гэтсби
.кэш /
# Прокомментируйте в публичной строке, если ваш проект использует Gatsby и *не* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# публичный

# вывод сборки vuepress
.vuepress / расстояние

# Бессерверные каталоги
.без сервера /

# Кэш FuseBox
.fusebox /

# Локальные файлы DynamoDB
.dynamodb /

# Файл порта TernJS
.tern-порт